@model WeatherApp.Data.WeatherData

@{
    string iconLink = "http://openweathermap.org/img/wn/" + Model.weather[0].icon + "@2x.png";
}

    <h1>
        @Html.DisplayFor(model => model.name)
        <img src=@iconLink>
    </h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">

            Description: @Html.DisplayFor(model => model.weather[0].description)
        </dt>
        <dt class="col-sm-10">
            Condition: @Html.DisplayFor(model => model.weather[0].main)
        </dt>
        <dt class="col-sm-10">
            Temperature: @Html.DisplayFor(model => model.main.temp) C°
        </dt>
        <dt class="col-sm-10">
            Feels Like: @Html.DisplayFor(model => model.main.feels_like) C°
        </dt>
        <dt class="col-sm-10">
            Pressure: @Html.DisplayFor(model => model.main.pressure) Bar
        </dt>
        <dt class="col-sm-10">
            Humidity: @Html.DisplayFor(model => model.main.humidity) %
        </dt>
        <dt class="col-sm-10">
            WindSpeed: @Html.DisplayFor(model => model.Wind.speed)
        </dt>
        <dt class="col-sm-10">
            Wind degrees: @Html.DisplayFor(model => model.Wind.deg) °
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
